{% extends 'receptonist_base/receptonist_base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %} {{title}} {% endblock title %}


{% block body %}
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h5 class="mb-0">On-Arival Appointment Details</h5>
        </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{% url 'report:onarivla_appointment_report' appointment.id %}" class="btn btn-sm btn-primary me-md-2" target="_blank" type="button"><i class="fa-solid fa-file-arrow-down"></i></a>
                <a href="{% url 'report:onarivla_appointment_report' appointment.id %}" class="btn btn-sm btn-primary" target="_blank" type="button"><i class="fa-solid fa-print"></i></a>
                <a class="btn btn-primary" href="{% url 'receptonist:onarival_appointmetn_list' %}" role="button">Back</a>    
            </div>

        {% if appointment %}
        <div class="d-flex align-items-center justify-content-between mb-2">
            <h6 class="mb-0">Visitor Details</h6>
        </div>
        <div class="table-responsive">
            <table class="table table-striped text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="table-dark ">
                        <th class="col-4" scope="col-4">Fields Name</th>
                        <th class="col-8" scope="col-8">Description</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td> Visitor Name </td>
                            <td> {{appointment.request_by}}</td>
                        </tr>  
                        <tr>
                            <td>Phone</td>
                            <td> {{appointment.phone_no}} </td>
                        </tr>    
                        <tr>
                            <td>National ID</td>
                            <td> {{appointment.national_id}} </td>
                        </tr>    
                        <tr>
                            <td>Email </td>
                            <td> {{appointment.email_id}} </td>
                        </tr>    
                        <tr>
                            <td>Address </td>
                            <td> 
                                {{appointment.address}}  

                            </td>
                        </tr>  
                </tbody>
            </table>
        </div>
        <div class="d-flex align-items-center justify-content-between mb-2 mt-4">
            <h6 class="mb-0">Appointment Details</h6>
        </div>
        <div class="table-responsive">
            <table class="table table-striped text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="table-dark ">
                        <th class="col-4" scope="col-4">Fields Name</th>
                        <th class="col-8" scope="col-8">Description</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td> Employee Name </td>
                            <td> {{appointment.appointment_to.profile.first_name}} {{appointment.appointment_to.profile.last_name}}</td>
                        </tr>  
                        <tr>
                            <td> Employee ID </td>
                            <td> {{appointment.appointment_to.employee_info.employee_id}}  </td>
                        </tr>  
                        <tr>
                            <td>Designation & Department</td>
                            <td> {{appointment.appointment_to.employee_info.position.designation}}, {{appointment.appointment_to.employee_info.position.department}}  </td>
                        </tr>    
                        <tr>
                            <td>Appointment Date</td>
                            <td> {{appointment.appointment_date}} </td>
                        </tr>    
                        <tr>
                            <td>Appointment ID</td>
                            <td> {{appointment.appointment_id}} </td>
                        </tr>     
                        {% if appointment.issued_status %}
                            <tr>
                                <td> Entering Time</td>
                                <td> {{appointment.entering_time}} </td>
                            </tr> 
                            <tr>
                                <td> Exit Time </td>
                                <td> {{appointment.exit_time}} </td>
                            </tr>
                            <tr>
                                <td> Duration </td>
                                <td> {{appointment.duration}} </td>
                            </tr>
                        {% endif %} 
                </tbody>
            </table>
        </div>
        {% endif %}    
    </div>
   
</div>
  
{% endblock body %}

{% block footer %}
    
{% endblock footer %}
    
    