{% extends 'home_base/home_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} {{title}} {% endblock title %}


{% block body %}
    
<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Debonair Group</h1>
          <h2>Way Towards Sustainablility</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src=" {% static 'assets/img/hero-img.png' %} " class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
  

  <main id="main">
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Employee List</h2>
        </div>

        <div class="row">
            {% if employees %}
                
                {% for employee in employees %}
                <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                    <div class="member d-flex align-items-start">
                      <div class="pic"><img src="{{employee.info_of.profile.photo.url}}" alt="" width="180" height="190"></div>
                      <div class="member-info">
                        <h4> {{employee.info_of.profile.first_name}} {{employee.info_of.profile.last_name}} </h4>
                        <span> {{employee.position.designation}} </span>
                        <p>{{employee.position.department}} </p>
                        <p><a class="btn btn-sm btn-primary" href="#" role="button">Appointment</a> </p>
                        <div class="social">
                          <a href=" {{employee.info_of.media_link.twitter}} " target="_blank"><i class="ri-twitter-fill"></i></a>
                          <a href="{{employee.info_of.media_link.facebook}}" target="_blank"><i class="ri-facebook-fill"></i></a>
                          <a href="{{employee.info_of.media_link.instagram}}" target="_blank"><i class="ri-instagram-fill"></i></a>
                          <a href="{{employee.info_of.media_link.linkedin}}" target="_blank"> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                      </div>
                    </div>
                  </div>
                    
                {% endfor %}
                    
            {% endif %}
        </div>
      </div>
    </section><!-- End Team Section -->
</main><!-- End #main -->

{% endblock body %}