{% extends 'home_base/home_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} {{title}} {% endblock title %}


{% block navbar %}
  {% include 'home_utils/nav_bar.html' %}
  
{% endblock navbar %}
  

{% block body %}
    
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Debonair Group</h1>
          <h2>Way Towards Sustainablility</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src=" {% static 'assets/img/hero-img.png' %} " class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
                Debonair Group is a 100% export oriented private company integrated in high value Outwear and Homeware products. Company started its journey since 1991 
                and established its WAY TOWARDS SUSTAINABILITY vision in 2020. Corporate head office 
                is located at Mohakhali DOHS and facilities are established at Ashulia, Gazipur, Tongi, Salna and Valuka, Mymensingh.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Professional Integrity: Practicing and appreciating professional integrity is our first and foremost priority</li>
              <li><i class="ri-check-double-line"></i> Innovation: We always appreciate and encourage innovative approaches in operational conduct</li>
              <li><i class="ri-check-double-line"></i> Teamwork: We firmly believe in and practice intra-departmental and interdepartmental bondage.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p class="text-justify">
                With visionary guidance of our Founding Chairman Late MOHAMMAD NURUN NABI FCA;
                 Dynamic and Commendable work of Managing Director MOHAMMED AYUB KHAN FCA and our current Chairperson Architect NAIARA NOOR’S contributions 
                pace Debonair become a successful group consisting of more than 12 sister concerns 
                in home and abroad. 
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
        </div>

        <div class="row">

          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'assets/img/team/ayub_Khan.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Mohammad Ayub Khan</h4>
                <span>Managing Director</span>
                <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src=" {% static 'assets/img/team/Chairman.jpg' %} " class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Naiara Noor</h4>
                <span>Chairman</span>
                <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src=" {% static 'assets/img/team/DMD-Azam-Khan.jpg' %} " class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Mohammad Azam Khan</h4>
                <span>Deputy Managing Director </span>
                <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src=" {% static 'assets/img/team/Polash_photo.jpeg' %} " class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Azizur Rahman Polash</h4>
                <span>Director</span>
                <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""><i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>House # 382, Road # 28, New DOHS, Mohakhali, Dhaka-1206. Bangladesh</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>01623344000</p>
              </div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.079626775313!2d90.3916864143749!3d23.780178684574615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c769f455d9f5%3A0x2347700aee6a495d!2sDebonair%20Group%20Corporate%20Office!5e0!3m2!1sen!2sbd!4v1676759996405!5m2!1sen!2sbd" style="border:0; width: 100%; height: 290px;"></iframe>
            </div>

          </div>
          
          
        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <div class="form-container">
            <form id="my-form" action="{% url 'home:contact_message' %}" method="post" role="form" class="php-email-form"> 
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  {{form.name |add_class:"form-control"}}
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  {{form.email |add_class:"form-control"}}
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                {{form.subject |add_class:"form-control"}}
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                {{form.message |add_class:"form-control"}}
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
          

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <script>
    $(document).ready(function() {
      $('#my-form').on('submit', function(event) {
        event.preventDefault();
        var formData = $(this).serialize();
        $.ajax({
          type: 'POST',
          url: $(this).attr('action'),
          data: formData,
          success: function(response) {
            if (response.message === 'success') {
              // clear any previous error messages
              $('.error-message').empty();
              $('#my-form').html('<p class="success-message">Thank you for your message!</p>');
              // update the page content
              // ...
            } else if (response.message === 'error') {
              // display the error message
              $('.error-message').html('<div class="alert alert-danger" role="alert">' + response.data.error_message + '</div>');
            }
          },
          error: function(xhr, status, error) {
            // handle the error response here
          }
        });
      });
    });
     


  </script>
  
{% endblock body %}