{% extends 'employee_base/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %} {{title}} {% endblock title %}


{% block body %}
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h5 class="mb-0">Appointment Details</h5>
        </div>
        {% if appointment.accept_status or appointment.decline_status %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href=" {% url 'report:appointment_report' appointment.id %} " class="btn btn-sm btn-primary me-md-2" target="_blank" type="button"><i class="fa-solid fa-file-arrow-down"></i></a>
                <a href=" {% url 'report:appointment_report' appointment.id %} "  class="btn btn-sm btn-primary" target="_blank" type="button"><i class="fa-solid fa-print"></i></a>
                <a class="btn btn-primary" href="{% url 'employee:appointment_visitor_profile' appointment.request_by.id %}" target="_blank" role="button">Profile</a>

                {% if appointment.accept_status and not appointment.cancel_status %}
                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                        Cancel
                    </button>
                    <a class="btn btn-primary" href="{% url 'employee:employee_accepted_application_list' %}" role="button">Back</a>
                {% elif appointment.cancel_status %}
                    <a class="btn btn-primary" href="{% url 'employee:employee_cancel_application_list' %}" role="button">Back</a>
                {% elif appointment.decline_status %}
                    <a class="btn btn-primary" href="{% url 'employee:employee_declined_application_list' %}" role="button">Back</a>
                {% endif %}
                    
            </div>
        {% else %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Accept
                </button>
                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                    Decline
                </button>
                <a class="btn btn-primary" href="{% url 'employee:employee_pending_application_list' %}" role="button">Back</a>
            </div>
        {% endif %}

        {% if appointment %}
        <div class="d-flex align-items-center justify-content-between mb-2">
            <h6 class="mb-0">Visitor Details</h6>
        </div>
        <div class="table-responsive">
            <table class="table table-striped text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="table-dark ">
                        <th class="col-4" scope="col-4">Fields Name</th>
                        <th class="col-8" scope="col-8">Description</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td> Visitor Name </td>
                            <td> {{appointment.request_by.profile.first_name}} {{appointment.request_by.profile.last_name}}</td>
                        </tr>  
                        <tr>
                            <td> Visitor ID </td>
                            <td> {{appointment.request_by.visitor_info.visitor_id}}  </td>
                        </tr>  
                        <tr>
                            <td>Phone</td>
                            <td> {{appointment.request_by.visitor_info.phone_no}} </td>
                        </tr>    
                        <tr>
                            <td>National ID</td>
                            <td> {{appointment.request_by.visitor_info.national_id}} </td>
                        </tr>    
                        <tr>
                            <td>Email </td>
                            <td> {{appointment.request_by.email}} </td>
                        </tr>    
                        <tr>
                            <td>Address </td>
                            <td> 
                                {{appointment.request_by.present_address.road}},  
                                {{appointment.request_by.present_address.sector}},  
                                {{appointment.request_by.present_address.police_station}},  
                                {{appointment.request_by.present_address.district}},  
                                {{appointment.request_by.present_address.post_code}},  

                            </td>
                        </tr>  
                </tbody>
            </table>
        </div>
        <div class="d-flex align-items-center justify-content-between mb-2 mt-4">
            <h6 class="mb-0">Appointment Details</h6>
        </div>
        <div class="table-responsive">
            <table class="table table-striped text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="table-dark ">
                        <th class="col-4" scope="col-4">Fields Name</th>
                        <th class="col-8" scope="col-8">Description</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td> Employee Name </td>
                            <td> {{appointment.appointment_of.appointment_of.profile.first_name}} {{appointment.appointment_of.appointment_of.profile.last_name}}</td>
                        </tr>  
                        <tr>
                            <td> Employee ID </td>
                            <td> {{appointment.appointment_of.appointment_of.employee_info.employee_id}}  </td>
                        </tr>  
                        <tr>
                            <td>Designation & Department</td>
                            <td> {{appointment.appointment_of.appointment_of.employee_info.position.designation}}, {{appointment.appointment_of.appointment_of.employee_info.position.department}}  </td>
                        </tr>    
                        <tr>
                            <td>Appointment Date</td>
                            <td> {{appointment.appointment_of.appointment_date}} </td>
                        </tr>    
                        <tr>
                            <td>Appointment ID</td>
                            <td> {{appointment.appointment_id}} </td>
                        </tr>    
                        <tr>
                            <td>Request Date</td>
                            <td> {{appointment.request_date}} </td>
                        </tr>
                        <tr>
                            <td>Meeting Slot</td>
                            <td> {{appointment.appointment_of.meet_from}} to {{appointment.appointment_of.meet_to}}</td>
                        </tr>
                        {% if appointment.accept_status %}
                            <tr>
                                <td> Accepted Date </td>
                                <td> {{appointment.approved_date}} </td>
                            </tr> 
                            <tr>
                                <td> Appointment Time </td>
                                <td> {{appointment.meeting_time}} </td>
                            </tr>
                        {% elif appointment.decline_status %}
                            <tr>
                                <td> Review Date </td>
                                <td> {{appointment.approved_date}} </td>
                            </tr> 
                            <tr>
                                <td> Status </td>
                                <td> Declined </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td> Status </td>
                                <td> Pending </td>
                            </tr>
                        {% endif %}
                        {% if appointment.cancel_status %}
                            <tr>
                                <td> Reviewed Date </td>
                                <td> {{appointment.approved_date}} </td>
                            </tr> 
                            <tr>
                                <td> Status </td>
                                <td> Cancel </td>
                            </tr>
                        {% endif %} 
                </tbody>
            </table>
        </div>
        {% endif %}

        <div class="container-fluid text-start mt-4">
            <div class="card">
             <div class="card-header bg-dark text-white">
               Appointment Description
             </div>
             <div class="card-body">
               <h5 class="card-title">Subjenct: {{appointment.heading}} </h5>
               <p class="card-text">Description: {{appointment.description}} </p>
             </div>
           </div>
         </div>

         {% if appointment.accept_status or appointment.decline_status %}
            <div class="container-fluid text-start mt-4">
                <div class="card">
                <div class="card-header bg-dark text-white">
                    Review Message
                </div>
                    <div class="card-body">
                        <p class="card-text">{{appointment.message}} </p>
                    </div>
                </div>
            </div>
        {% endif %}
        
        {% if appointment.cancel_status %}
            <div class="container-fluid text-start mt-4">
                <div class="card">
                <div class="card-header bg-dark text-white">
                    Cancelation Message
                </div>
                    <div class="card-body">
                        <p class="card-text">{{appointment.cancel_message}} </p>
                    </div>
                </div>
            </div>
        {% endif %}
            
    </div>
   
</div>
<!-- Recent Sales End --> 

<!-- Button trigger modal -->

  
  <!-- Accept Appointment Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h1 class="modal-title text-white fs-5" id="exampleModalLabel">Accept Appointment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'employee:employee_accept_appointment' appointment.id %}"> {% csrf_token %}
                <div class="row mb-4">
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label"> Meeting Time </label>
                        {{accept_form.meeting_time |add_class:"form-control"}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label"> Replay Message </label>
                        {{accept_form.message |add_class:"form-control"}}
                    </div>
                </div>
            
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Reject Appointment 2 -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h1 class="modal-title text-white fs-5" id="exampleModalLabel">Decline Appointment</h1>
          <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'employee:employee_decline_appointment' appointment.id %}"> {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label"> Replay Message </label>
                        {{accept_form.message |add_class:"form-control"}}
                    </div>
                </div>
            
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Cancel Appointment Modal-->
  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h1 class="modal-title text-white fs-5" id="exampleModalLabel">Cancel Appointment</h1>
          <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'employee:employee_cancel_appointment' appointment.id %}"> {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label"> Cancelation Reason </label>
                        {{cancel_form.cancel_message |add_class:"form-control"}}
                    </div>
                </div>
            
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock body %}
    