{% extends 'employee_base/base.html' %}
{% load static %}


{% block title %}
    {{title}}
{% endblock title %}


{% block body %}
<div class="container mt-4">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src=" {{employee.info_of.profile.photo.url}} " alt="Admin" class="rounded-circle" width="250" height="250">
                    <div class="mt-3">
                      <h4> {{employee.info_of.profile.first_name}} {{employee.info_of.profile.last_name}} </h4>
                      <p class="text-secondary mb-1"> {{employee.position.designation}} </p>
                      <p class="text-secondary mb-1"> {{employee.position.department}} </p>
                      <a class="btn btn-primary" href="{% url 'report:employee_profile' request.user.id %}" target="_blank">Download Profile</a>
                      <a class="btn btn-outline-primary" href="{% url 'report:employee_profile' request.user.id %}" target="_blank">Print Profile</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name: </h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{employee.info_of.profile.first_name}} {{employee.info_of.profile.last_name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{employee.info_of.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Employee ID</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{employee.employee_id}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Contact No</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{employee.phone}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">NID Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{employee.national_id}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Passport Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{employee.passport_no}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Designation</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{employee.position.designation}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Department</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{employee.position.department}}
                    </div>
                  </div>
                  <hr>
              </div>

              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Present Address</h6>
                      <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">Road/Village</h6>
                            <span class="text-secondary">{{employee.info_of.present_address.road}} </span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">Sector/Avenue</h6>
                            <span class="text-secondary">{{employee.info_of.present_address.sector}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">Police Station</h6>
                            <span class="text-secondary">{{employee.info_of.present_address.police_station}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">City/Division</h6>
                            <span class="text-secondary">{{employee.info_of.present_address.city}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">District</h6>
                            <span class="text-secondary">{{employee.info_of.present_address.district}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">Post Code</h6>
                            <span class="text-secondary">{{employee.info_of.present_address.post_code}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Permanent Address</h6>
                      <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">Road/Village</h6>
                            <span class="text-secondary">{{employee.info_of.permanent_address.village}} </span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">Sector/Avenue</h6>
                            <span class="text-secondary">{{employee.info_of.permanent_address.post_office}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">Police Station</h6>
                            <span class="text-secondary">{{employee.info_of.permanent_address.upzila}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">City/Division</h6>
                            <span class="text-secondary">{{employee.info_of.permanent_address.division}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">District</h6>
                            <span class="text-secondary">{{employee.info_of.permanent_address.permanent_district}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">Post Code</h6>
                            <span class="text-secondary">{{employee.info_of.permanent_address.zip_code}}</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
    
{% endblock body %}
    
    