{% extends 'base_visitor/base.html' %}
{% load static %}


{% block title %} {{title}} {% endblock title %}


{% block body %}
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Declined Appointment List</h6>
        </div>
        {% if appointments %}
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">SL</th>
                        <th scope="col">Appointment ID</th>
                        <th scope="col">Request Date</th>
                        <th scope="col">Appointment To</th>
                        <th scope="col">Appointment Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for appointment  in appointments %}
                        <tr>
                            <td> {{forloop.counter}} </td>
                            <td> {{appointment.appointment_id}} </td>
                            <td> {{appointment.request_date}} </td>
                            <td> {{appointment.appointment_of.appointment_of.profile.first_name}} {{appointment.appointment_of.appointment_of.profile.last_name}}</td>
                            <td> {{appointment.appointment_of.appointment_date}} </td>
                            {% if appointment.decline_status %}
                                <td> Declined </td>
                            {% endif %}
                            
                            <td><a class="btn btn-sm btn-primary" href="{% url 'visitor:visitor_appointment_details' appointment.id %}">Detail</a></td>
                        </tr>
                    {% endfor %}    
                </tbody>
            </table>
        </div>
        {% else %}
            <h6 class="mb-0">There is no pending appointments</h6>
        {% endif %}
    </div>
</div>
<!-- Recent Sales End --> 
{% endblock body %}
    