{% extends 'base_visitor/base.html' %} 
{% load static %}


{% block title %} {{title}} {% endblock title %}



<!-- Sale & Revenue Start -->

{% block body %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
      <div class="col-sm-6 col-xl-3">
        <div
          class="bg-dark rounded d-flex align-items-center justify-content-between p-4">
          
          <div class="ms-3">
            <p class="mb-2 text-white">Pending Appointment</p>
            <h6 class="mb-0 text-white"> {{pending_appointment}} </h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div
          class="bg-dark rounded d-flex align-items-center justify-content-between p-4">
          <div class="ms-3 text-white">
            <p class="mb-2">Accpted Appointment</p>
            <h6 class="mb-0 text-white"> {{accpted_appointment}} </h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div
          class="bg-dark rounded d-flex align-items-center justify-content-between p-4">
          <div class="ms-3 text-white">
            <p class="mb-2">Declined Appointment</p>
            <h6 class="mb-0 text-white"> {{declined_appointment}} </h6>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div
          class="bg-dark rounded d-flex align-items-center justify-content-between p-4">
          <div class="ms-3 text-white">
            <p class="mb-2">Canceled Appointment</p>
            <h6 class="mb-0 text-white"> {{cancel_appointment}} </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sale & Revenue End -->
    
{% endblock body %}


{% block footer %}
  
{% endblock footer %}
  
    
